<div class="row">
   <div class="col-lg-12 text-center">
       <h1>Contact Us</h1>
       <p class="lead">Use this quick and easy form to fill out any concerns or reviews and we will get back to you!</p>
       <ul class="list-unstyled">
      </ul>
   </div>
      <div class="col-lg-4 text-center">
   <%= render 'pages/mailer' %>
      </div>
</div>